<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ttubeog">
    <!-- 현재 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ttubeog"
        tools:ignore="AllowBackup">
        <activity android:name=".Login"></activity>
        <activity android:name=".Join" /> <!-- 네이버 지도 -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="zuh69349nj" />

        <activity android:name=".AppStart" />
        <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".searchresult"/>
        <activity android:name=".search"/>
        <activity android:name=".information"/>
        <activity android:name=".resultScore"/>
    </application>

</manifest>